.movie {
    height: 400px;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    align-items: center;

    margin: 10px;
    /* background-color: #313546f7; */
    background: linear-gradient(to bottom, #03000fdc, #03000f48);
    padding: 10px;


    overflow-y: auto;

    color: white;
    box-shadow: rgba(61, 13, 13, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

p {
    color: #c0c0c7;
}