.App {
  width: 100%;
  min-height: 100vh;

  /* background-color: white; */
  background-color: #0D2036;
  /* background: linear-gradient(to bottom, #03000f99, #03000f48); */

  position: relative;
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #CC0B30;
  border-radius: 3px;
}